<div class="container">
    <div class="sub-container">
        <h3>US Treasuries</h3>
        <div class="divide-line"></div>
        <div class="bond-container">
            <table class="bond-table">
                <thead>
                    <tr>
                        <td>
                            Symbol
                        </td>
                        <td>
                            Yield
                        </td>
                        <td>
                            Change
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bond of bonds">
                        <td>
                            {{ bond.title }}
                        </td>
                        <td>
                            {{ bond.couponRate + '%' }}
                        </td>
                        <td [ngStyle]="getYieldChangeStyle(bond)">
                            {{ (bond.yieldChange > 0 ? '+' : '') + roundYield(bond.yieldChange) + '%' }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="sub-container">
        <h3>Yield Curve</h3>
        <div class="divide-line"></div>
        <div class="yield-curve-container">
            <canvas
                baseChart
                [type]="'bar'"
                [data]="yieldCurveConfigData"
                [options]="yieldCurveConfigOptions"
            >
            </canvas>
        </div>
    </div>
</div>