<div class="container">
  <div>
    <h1>Welcome to Adam's Financial Analysis App!</h1>
  </div>
  <div class="market-status">    
    <div class="indices">
      <div 
        class="index-status" 
        *ngFor="let index of mainAmericanIndices"
        [ngStyle]="{
          'border-color': index.changesPercentage < 0 ? '#eb4b4b' : '#3dd153'
        }"
      >
        <span
          [ngStyle]="{'color': index.changesPercentage < 0 ? '#eb4b4b' : '#3dd153'}"
        >
          {{ index.name + ' ' + 
            (index.changesPercentage > 0 ? '+' : '') + round(index.changesPercentage) + '%' 
          }}  
        </span>
      </div>
    </div>
  </div>
  <div>
    <nav>
      <ul>
        <li><a routerLink="/stocks">Stocks</a></li>
        <li><a routerLink="/bonds">Bonds</a></li>
        <li><a routerLink="/commodities">Commodities</a></li>
        <li><a routerLink="/watchLists">Watch Lists</a></li>
      </ul>
    </nav>
  </div>
  <router-outlet></router-outlet>
</div>