<div class="container">
    <div *ngIf="!!allWatchLists && allWatchLists.length > 0">
        <select #selectorWatchList class="selector-primary" (change)="changeSelectorOption()">
            <option *ngFor="let w of allWatchLists">
                {{ w.name }}
            </option>
        </select>
    </div>
    <div class="symbols-container">
        <div class="watch-list-tools">
            <a>New Watch List</a>
            <a (click)="deleteWatchList()">Delete Watch List</a>
            <a>Add Symbol</a>
        </div>
        <div *ngIf="!!selectedSymbols" class="symbol-cards">
            <div *ngFor="let quote of symbolQuotes" class="symbol-card">
                <div class="symbol-name">
                    <span>{{ quote.symbol }}</span>
                    <span>{{ quote.name }}</span>
                </div>
                <div class="price-change">
                    <span>
                        {{ getPriceDisplay(quote.price) }}
                    </span>
                    <span
                        [ngStyle]="{
                            'background-color': quote.changesPercentage < 0 ? '#eb4b4b' : '#3dd153'
                        }"
                    >
                        {{ getChangeDisplay(quote.changesPercentage) }}
                    </span>
                </div>
            </div>
            <div *ngIf="symbolQuotes.length === 0">
                <span class="list-empty-message">No Symbols for This Watch List</span>
            </div>
        </div>
    </div>
</div>