.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.symbols-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.symbol-cards {
    margin-top: 10px;
    overflow-y: scroll;
    max-height: 60vh;
}

.symbol-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px #777 solid;
}

.symbol-name {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
}

.symbol-name span:first-child {
    color: #ccc;
}

.symbol-name span:nth-child(2) {
    color: #aaa;
    font-size: 14px;
}

.price-change {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
}

.price-change span:first-child {
    color: #ccc;
}

.price-change span:nth-child(2) {
    border-radius: 5px;
    color: #2f313d;
    padding-left: 5px;
    padding-right: 5px;
}

.symbol-name span, .price-change span {
    padding: 3px;
}

.watch-list-tools {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.watch-list-tools a {
    color: #ccc;
    margin: 10px;
    cursor: pointer;
}

.edit-options {
    margin-left: 30px;
}

.edit-options a:hover {
    color: #aaa;
}

.list-empty-message {
    color: #ccc;
}

.add-symbol-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.input-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-button {
    display: flex;
    flex-direction: row;
}

.input-content label {
    color: #ccc;
    font-size: 16px;
}

input[type=text] {
    background-color: #2f313d;
    color: #ccc;
    padding: 5px;
    border: 1px solid #777;
    border-radius: 5px;
    margin-top: 5px;
    max-width: 150px;
}

button[type=submit] {
    background-color: #3485d1;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}
  
button[type=submit]:hover {
    background-color: #1d7ad1;
}

.add-symbol-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.add-icon {
    color: #3485d1;
    margin-left: 15px;
}

.new-watch-list-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-watch-list-container form label {
    color: #ccc;
}

.new-watch-list-container form button {
    margin-top: 10px;
}

.delete-button {
    color: #eb4b4b;
    background-color: #2f313d;
    border: none;
    margin-left: 15px;
    cursor: pointer;
    font-size: 16px;
}

.price-change-edit {
    display: flex;
    flex-direction: row;
    align-items: center;
}