<div class="container">
    <div class="symbols-container">
        <div class="watch-list-tools">
            <div *ngIf="!!allWatchLists && allWatchLists.length > 0">
                <select 
                    #selectorWatchList 
                    class="selector-primary" 
                    (change)="changeSelectorOption()"
                    [(ngModel)]="selectedListName"
                >
                    <option *ngFor="let w of allWatchLists" [selected]="isSelected(w.name)">
                        {{ w.name }}
                    </option>
                </select>
            </div>
            <div class="edit-options">
                <a (click)="openAddNewWatchListModal()">New Watch List</a>
                <a (click)="deleteWatchList()">Delete Watch List</a>
                <a (click)="openAddSymbolModal()">Add Symbol</a>
            </div>
        </div>
        <div *ngIf="!!selectedSymbols" class="symbol-cards">
            <div *ngFor="let quote of symbolQuotes" class="symbol-card">
                <div class="symbol-name">
                    <span>{{ quote.symbol }}</span>
                    <span>{{ quote.name }}</span>
                </div>
                <div class="price-change">
                    <span>
                        {{ getPriceDisplay(quote.price) }}
                    </span>
                    <span
                        [ngStyle]="{
                            'background-color': quote.changesPercentage < 0 ? '#eb4b4b' : '#3dd153'
                        }"
                    >
                        {{ getChangeDisplay(quote.changesPercentage) }}
                    </span>
                </div>
            </div>
            <div *ngIf="symbolQuotes.length === 0">
                <span class="list-empty-message">No Symbols for This Watch List</span>
            </div>
        </div>
    </div>
    <app-modal
        #addSymbolModal
        [isOpen]="isAddSymbolModalOpen"
        (closeModalEvent)="closeAddSymbolModal()"
    >
        <div class="add-symbol-content">
            <form (ngSubmit)="searchForQuote()">
                <div class="input-content">
                    <label for="symbol-search">Add Symbol</label>
                    <div class="input-button">
                        <input name="symbol-search" type="text" placeholder="Search Symbols..." (input)="onAddSymbolInputChange($event)">
                        <button type="submit">Search</button>
                    </div>
                </div>
            </form>
            <div *ngIf="searchQuote" class="add-symbol-card">
                <div class="symbol-card">
                    <div class="symbol-name">
                        <span>{{ searchQuote.symbol }}</span>
                        <span>{{ searchQuote.name }}</span>
                    </div>
                    <div class="price-change">
                        <span>
                            {{ getPriceDisplay(searchQuote.price) }}
                        </span>
                        <span
                            [ngStyle]="{
                                'background-color': searchQuote.changesPercentage < 0 ? '#eb4b4b' : '#3dd153'
                            }"
                        >
                            {{ getChangeDisplay(searchQuote.changesPercentage) }}
                        </span>
                    </div>
                </div>
                <div class="add-icon">
                    <svg 
                        *ngIf="!existsInWatchList(searchQuote.symbol)" 
                        xmlns="http://www.w3.org/2000/svg" 
                        width="24" height="24" fill="currentColor" 
                        class="bi bi-plus-circle" viewBox="0 0 16 16"
                        [ngStyle]="{ cursor: 'pointer' }"
                        (click)="addSymbolToSelectedWatchList()"
                    >
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                    </svg>
                    <svg 
                        *ngIf="existsInWatchList(searchQuote.symbol)" 
                        xmlns="http://www.w3.org/2000/svg" 
                        width="24" height="24" fill="currentColor" 
                        class="bi bi-check-circle-fill" viewBox="0 0 16 16"
                    >
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </svg>
                </div>
            </div>
        </div>
    </app-modal>
    <app-modal
        #newWatchListModal
        [isOpen]="isAddNewWatchListModalOpen"
        (closeModalEvent)="closeAddWatchListModal()"
    >
        <div class="new-watch-list-container">
            <form (ngSubmit)="createNewWatchList()">
                <label for="new-list-name">Create New Watch List</label>
                <input 
                    name="new-list-name" type="text" 
                    (input)="onAddNewListInputChange($event)"
                    placeholder="New List Name..."
                />
                <button type="submit">Create</button>
            </form>
        </div>
    </app-modal>
</div>