<div class="container">
    <div class="search-container">
        <form>
            <input 
                type="text" 
                placeholder="Search Ticker..."
                [(ngModel)]="ticker"
                name="ticker-search"
            >
            <button type="submit" (click)="onTickerSearch()">Submit</button>
        </form>
    </div>
    <div *ngIf="quote" class="quote-header">
        <div class="quote-header-contents">
            <h1>{{ quote.name }}</h1>
            <div class="price-info">
                <span class="quote-price">
                    {{ '$' + round(quote.price) }}
                </span>
                <span 
                    class="quote-changes-percent"
                    [ngStyle]="{
                        'color': quote.changesPercentage < 0 ? '#eb4b4b' : '#3dd153'
                    }"
                >
                    {{ 
                        (quote.changesPercentage > 0 ? '+' : '') + round(quote.changesPercentage) + '%'
                    }}
                </span>
            </div>
        </div>
    </div>
    <div class="no-results-msg" *ngIf="shouldDisplayNoResultsMessage">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
        <h1>{{ resultsEmptyMsg }}</h1>
    </div>
    <div 
        *ngIf="shouldDisplayQuoteInfo" 
        class="quote-container"
    >
        <div class="price-chart">
            <div class="time-periods">
                <span 
                    *ngFor="let option of priceHistoryOptions"
                    [class.selected-time-period]="option === selectedTimePeriodOption"
                    (click)="onTimePeriodChange(option)"
                >
                    {{ option }}
                </span>
            </div>
            <canvas 
                baseChart
                [type]="'line'"
                [data]="chartConfigData"
                [options]="chartConfigOptions"
            >
            </canvas>
        </div>
        <div class="dividing-line-vertical"></div>
        <div *ngIf="quote" class="quote-details">
            <div class="quote-details-container">
                <span>Symbol</span>
                <span>{{ quote.symbol }}</span>
            </div>
            <div class="quote-details-container">
                <span>Company Name</span>
                <span>{{ quote.name }}</span>
            </div>
            <div class="quote-details-container">
                <span>Day Low</span>
                <span>{{ round(quote.dayLow).toFixed(2) }}</span>
            </div>
            <div class="quote-details-container">
                <span>Day High</span>
                <span>{{ round(quote.dayHigh).toFixed(2) }}</span>
            </div>
            <div class="quote-details-container">
                <span>52 Week High</span>
                <span>{{ round(quote.yearHigh).toFixed(2) }}</span>
            </div>
            <div class="quote-details-container">
                <span>52 Week Low</span>
                <span>{{ round(quote.yearLow).toFixed(2) }}</span>
            </div>
            <div class="quote-details-container">
                <span>Market Cap</span>
                <span>{{ quote.marketCap !== 0 ? '$' + quote.marketCap.toLocaleString() : '-' }}</span>
            </div>
            <div class="quote-details-container">
                <span>Earnings Per Share</span>
                <span>{{ quote.eps !== 0 ? round(quote.eps) : '-'}}</span>
            </div>
            <div class="quote-details-container">
                <span>P/E</span>
                <span>{{ quote.pe ? quote.pe : '-' }}</span>
            </div>
            <div class="quote-details-container">
                <span>Earnings Announcement</span>
                <span>{{ dateFormat(quote.earningsAnnouncement) }}</span>
            </div>
            <div class="quote-details-container">
                <span>
                    <a *ngIf="tickerPaysDividend" (click)="viewHistoricalDividendData()">Estimated Dividend Rate</a>
                    <span *ngIf="!tickerPaysDividend">Estimated Dividend Rate</span>
                </span>
                <span>{{ 
                    tickerPaysDividend && latestDividendQuote !== 0 ?
                    latestDividendQuote + '%' : '-' 
                }}</span>
            </div>
        </div>
    </div>
    <div *ngIf="shouldDisplayQuoteInfo" class="statment-cat-charts">
        <div *ngIf="cashFlowStatements.length !== 0" class="statement-cat-container">
            <h1>Cash Flow Statements</h1>
            <div class="dividing-line-horizontal"></div>
            <div class="statement-cat">
                <div class="chart-container" *ngFor="let key of cashFlowStatementKeys">
                    <div (click)="chartPopUpClickAction(key)">
                        <label>{{ getCategoryValueByKey(key) }}</label>
                        <canvas
                            baseChart
                            [type]="'bar'"
                            [data]="getChartConfigForCashFlowCat(key)"
                            [options]="chartConfigOptions"
                        >
                        </canvas>
                    </div>
                </div>  
            </div>
        </div>
        <div *ngIf="incomeStatements.length !== 0" class="statement-cat-container">
            <h1>Income Statements</h1>
            <div class="dividing-line-horizontal"></div>
            <div class="statement-cat">
                <div class="chart-container" *ngFor="let key of incomeStatementKeys">
                    <div (click)="chartPopUpClickAction(key)">
                        <label>{{ getCategoryValueByKey(key) }}</label>
                        <canvas
                            baseChart
                            [type]="'bar'"
                            [data]="getChartConfigForIncomeCat(key)"
                            [options]="chartConfigOptions"
                        >
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="balanceSheetStatements.length !== 0" class="statement-cat-container">
            <h1>Balance Sheet</h1>
            <div class="dividing-line-horizontal"></div>
            <div class="statement-cat">
                <div class="chart-container" *ngFor="let key of balanceSheetStatementKeys">
                    <div (click)="chartPopUpClickAction(key)">
                        <label>{{ getCategoryValueByKey(key) }}</label>
                        <canvas
                            baseChart
                            [type]="'bar'"
                            [data]="getChartConfigForBalanceSheetCat(key)"
                            [options]="chartConfigOptions"
                        >
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-modal
    [isOpen]="shouldOpenChartModal"
    (closeModalEvent)="chartPopUpClickAction()"
>
    <div class="pop-up">
        <h1>{{ getCategoryValueByKey(activeSelectedKey) }}</h1>
        <div *ngIf="selectedReportingPeriod != 'none'" class="pop-up-periods">
            <span
                *ngFor="let period of reportingPeriodKeys"
                [class.pop-up-period-selected]="isSelectedReportingPeriod(period)"
            >
                <a
                    (click)="onSelectedReportingPeriodChange(period)"
                >
                    {{ period }}
                </a>
            </span>
        </div>
        <canvas
            baseChart
            [type]="'bar'"
            [data]="chartDataConfigForPopUp"
            [options]="chartConfigOptions"
        >
        </canvas>
    </div>
</app-modal>